[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=abakus
Name[cs]=abakus
Name[de]=Abakus
Name[fi]=abakus
Name[fr]=abakus
Name[nl]=abakus
Name[pt]=abakus
Name[pt_BR]=abakus
Name[sk]=abakus
Name[sv]=abakus
Name[tr]=abakus
Name[uk]=abakus
Name[x-test]=xxabakusxx
Icon=/usr/share/icons/hicolor/90x90/apps/abakus.png
Exec=abakus

