[Desktop Entry]
Type=Application
X-KDE-StartupNotify=true
Exec=abakus -caption "%c" %i
Icon=abakus
Comment=
Terminal=false
Name=Abakus
Name[cs]=Abakus
Name[de]=Abakus
Name[es]=Abakus
Name[et]=Abakus
Name[fr]=Abakus
Name[ga]=Abakus
Name[hu]=Abakus
Name[nl]=Abakus
Name[pt]=Abakus
Name[pt_BR]=Abakus
Name[sk]=Abakus
Name[sv]=Abakus
Name[uk]=Abakus
Name[x-test]=xxAbakusxx
GenericName=Calculator
GenericName[cs]=Kalkulačka
GenericName[de]=Rechner
GenericName[es]=Calculadora
GenericName[et]=Kalkulaator
GenericName[fr]=Calculatrice
GenericName[ga]=Áireamhán
GenericName[hu]=Számológép
GenericName[nl]=Rekenmachine
GenericName[pt]=Calculadora
GenericName[pt_BR]=Calculadora
GenericName[sk]=Kalkulačka
GenericName[sv]=Räknare
GenericName[uk]=Калькулятор
GenericName[x-test]=xxCalculatorxx
Categories=Qt;KDE;Utility;
