[Desktop Entry]
Type=Application
X-KDE-StartupNotify=true
Exec=abakus -caption "%c" %i
Icon=abakus
Comment=
Terminal=false
Name=Abakus
GenericName=Calculator
Categories=Qt;KDE;Utility;
