<!DOCTYPE kpartgui>
<kpartgui name="abakus" version="2">
<MenuBar>
	<Menu name="view"><text>&amp;View</text>
		<Action name="toggleHistoryList"/>
		<Action name="toggleMathematicalSidebar"/>

		<Separator/>

		<Action name="precisionAuto"/>
		<Action name="precision3"/>
		<Action name="precision8"/>
		<Action name="precision15"/>
		<Action name="precision50"/>
		<Action name="precisionCustom"/>

		<Separator/>

		<Action name="toggleCompactMode"/>

		<Separator/>

		<Action name="clearHistory"/>
	</Menu>
	<Menu name="mode"><text>&amp;Mode</text>
		<Action name="setDegreesMode"/>
		<Action name="setRadiansMode"/>

		<Separator/>

		<Action name="toggleExpressionMode"/>
	</Menu>
</MenuBar>
</kpartgui>
